@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&display=swap');

 body
{
    background-color: rgb(255, 255, 255);
    line-height: 1.4em;
    font-family: 'Alumni Sans Collegiate One', sans-serif;
}